<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="Rupa" providerName="System.Data.SqlClient" connectionString="Data Source=VEHEREV-TL0POJQ\ANIRBAN;Initial Catalog=Rupa_3Tire;User Id=sa;password=p@ssword;Integrated Security=True"/>
    <!--<add name="Rupa" providerName="System.Data.SqlClient" connectionString="Data Source=184.168.47.10;Initial Catalog=anirban2;User Id=anirban2;password=sinha1234;Integrated Security=False"/>-->
  </connectionStrings>

  <appSettings>
    <add key="ErrorPath" value="D:\Project\Rupa\BackUp\Rupa_10_26\Rupa\Rupa\Log\ErrorLog.txt"/>
  </appSettings>

</configuration>
